.font-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  height: 300px; // 카드 높이를 늘림
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%; // 카드 너비를 동일하게 설정
  box-sizing: border-box; // 요소의 너비와 높이 계산 방식 설정
  overflow: hidden; // 호버 효과가 카드 밖으로 나가지 않도록 설정

  .hover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1; // 배경이 텍스트 뒤에 오도록 설정
  }

  &:hover .hover-background {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-10px) scale(1.05); // 호버 시 살짝 커지고 위로 이동
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .font-card-text {
    h2 {
      font-size: 3rem; // 기본 텍스트 크기
      font-weight: bold;
      margin: 0;
      transition: font-size 0.3s; // 폰트 크기 전환
    }

    p {
      font-size: 2rem; // 기본 텍스트 크기
      font-weight: lighter;
      margin: 0;
      transition: font-size 0.3s; // 폰트 크기 전환
    }
  }

  @keyframes animateText1 {
    0% {
      font-size: 2rem;
    }
    50% {
      font-size: 5rem;
    }
    100% {
      font-size: 2rem;
    }
  }

  @keyframes animateText2 {
    0% {
      font-size: 1.5rem;
    }
    50% {
      font-size: 4rem;
    }
    100% {
      font-size: 1.5rem;
    }
  }

  @keyframes animateText3 {
    0% {
      font-size: 1.5rem;
      letter-spacing: normal;
    }
    50% {
      font-size: 4rem;
      letter-spacing: 0.5em;
    }
    100% {
      font-size: 1.5rem;
      letter-spacing: normal;
    }
  }

  .animateText1 {
    &:hover {
      animation: animateText1 0.5s forwards;
    }
  }

  .animateText2 {
    &:hover {
      animation: animateText2 0.5s forwards;
    }
  }

  .animateText3 {
    &:hover {
      animation: animateText3 0.5s forwards;
    }
  }
}
