/* src/assets/scss/header.scss */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pointColor);
  color: var(--white);
  font-family: "BMJUA";
  padding: 0 85px;

  /* 좌우 패딩 추가 */
  box-sizing: border-box;
  margin-bottom: 50px;

  .logo-container {
    display: flex;
    align-items: center;

    .left-icon {
      margin-right: 10px;
      width: 60px;

      /* 로고 크기 조정 */
      height: 60px;

      /* 로고 크기 조정 */
    }
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  .logo-link {
    text-decoration: none;

    /* 링크의 기본 밑줄 제거 */
    color: inherit;

    /* 부모의 색상 상속 */
  }

  .logo-container .right-icon {
    margin-left: 10px;
    width: 60px;

    /* 로고 크기 조정 */
    height: 60px;

    /* 로고 크기 조정 */
  }

  nav {
    flex-grow: 1;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin: 0 15px;
        color: var(--black300);

        a {
          font-size: 1.2rem;

          &:hover {
            border-bottom: 2px solid #322;
          }
        }
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;

    .dark-mode-icon {
      margin-right: 15px;
      width: 50px;

      /* 아이콘 크기 조정 */
      height: 50px;

      /* 아이콘 크기 조정 */
      cursor: pointer;
    }

    .login-button {
      display: flex;
      align-items: center;
      background-color: var(--white);
      color: var(--black300);
      border: none;
      border-radius: 20px;
      padding: 3px 10px;

      /* 버튼 크기 조정 */
      cursor: pointer;

      img {
        width: 30px;

        /* 아이콘 크기 조정 */
        height: 30px;

        /* 아이콘 크기 조정 */
        margin-right: 5px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}
