:root {
  --fontT: "TTLaundryGothicB";
  --fontY: "yg-jalnan";

  --mainBg: #f6f8f9;
  --pointColor: #8ca9e7;
  --subColor: #6f95ea;
  --hoverColor: #a0b7e9;
  --activeColor: #618ceb;
  --pointBg: #ededff;
  --cardBg: #f0f0f0;

  --black: #000;
  --black100: #111;
  --black200: #222;
  --black300: #333;
  --black400: #444;
  --black500: #555;
  --black600: #666;
  --black700: #797979;

  --white: #fff;
  --white100: #f9f9f9;
  --white200: #eeeeee;
  --white300: #dfdfdf;
  --white400: #cfcfcf;
  --white500: #c0c0c0;
  --white600: #ccc;
  --white700: #ddd;

  // 폰트 셋팅
  font-family: var(--fontT);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
